* {
    margin: 3px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: aliceblue;
    margin: 0;
}

.button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: 1px solid darkblue;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: darkblue;
}

.paragraph{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
}